body {
  background-color: #2B2B2D;
  color: #bfbfc0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 50px;
  font-weight: 200;
}

#world-map-container {
  height: 400px;
  margin-top: 50px;
  border-right: 1px dashed #bfbfc0;
  border-left: 1px dashed #bfbfc0;
  overflow: hidden;
}

.hoverinfo {
  display: none !important;
  border: none !important;
  color: #2B2B2D;
  box-shadow: none !important;
  font-size: 12px !important;
  font-weight: normal !important;
  padding: 5px 10px !important;
  opacity: .8;
}

.datamaps-subunit:hover {
  cursor: pointer;
}

.loading-data {
  padding-top: 150px;
  width: 97%;
  margin: auto;
  height: 400px;
  background-color: #000;
  opacity: .7;
  color: white;
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50px;
  z-index: 10;
}

.error-message {
  padding-left: 12px;
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50px;
  z-index: 10;
}
