body {
  background-color: #2B2B2D;
  color: #bfbfc0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 50px;
  font-weight: 200;
}

#world-map-container {
  height: 550px;
  min-width: 1200px;
  margin-top: 50px;
  border-right: 1px dashed #bfbfc0;
  border-left: 1px dashed #bfbfc0;
}

.hoverinfo {
  border: none !important;
  color: #2B2B2D;
  box-shadow: none !important;
  font-size: 12px !important;
  font-weight: normal !important;
  padding: 5px 10px !important;
  opacity: .8;
}

.datamaps-subunit:hover {
  cursor: pointer;
}

.loading-data {
  height: 550px;
  min-width: 1200px;
  background-color: #000;
  opacity: .7;
  color: white;
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 190px;
  z-index: 10;
}
